<!--
  Generated template for the SendPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <app-header ptitle="tabs.send"></app-header>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let asset of accountBalances">
            Account Balance for <font size="+2">({{asset.asset_code}})</font>: <font size="+2">{{asset.balance.toFixed(2)}}</font>
        </ion-item>
    </ion-list>
    <ion-item ng-if="showDestTag && destInfo.memo">
        <ion-label>Destination Address: </ion-label>
        <ion-input type="text" [(ngModel)]="paymentData.destAddress" placeholder='{{"destaddr" | translate}}'></ion-input>
    </ion-item>
    <div class="row no-padding">
        <ion-item>
            <ion-label>Payment Amount {{paymentData.amount}}: </ion-label>
            <ion-input type="text" [(ngModel)]="paymentData.amount" placeholder="0"></ion-input>
        </ion-item>
    </div>
    <ion-item ng-if="showDestTag && destInfo.memo">
        <ion-label>Payment Currency: </ion-label>
        <ion-input type="text" [(ngModel)]="paymentData.currency" placeholder="0"></ion-input>
    </ion-item>
    <ion-item ng-if="showDestTag && !destInfo.memo">
        <ion-label>Memo: </ion-label>
        <ion-input type="text" [(ngModel)]="paymentData.destTag" placeholder='enter memo'></ion-input>
    </ion-item>
    <ion-item ng-if="showDestTag && destInfo.memo">
        <ion-label>Extra memo for compliance: </ion-label>
        <ion-input type="text" [(ngModel)]="destInfo.extraMemo" placeholder="0"></ion-input>
    </ion-item>

    <button ion-button class="button button-block" (click)="anotheracct()">
        <ion-icon name="archive"></ion-icon>
        {{ "common.anotheracct" | translate }}
    </button>
    <div>
        <ion-list>
            <ion-item>
                <ion-label>{{"common.pymtplatform" | translate}}</ion-label>
                <ion-select [(ngModel)]="selectedPname">
                    <ion-option *ngFor="let pname of pnames">{{pname}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </div>
    <button ion-button class="button button-block" (click)="sendPayment()">
        <ion-icon name="archive"></ion-icon>
        {{ "tabs.send" | translate }}
    </button>
    <div class="item item-body narrow">
        <button ion-button (click)="scanCode()" class="button button-block">
            <i class="icon ion-qr-scanner"></i> {{"common.scan" | translate}}
        </button>
        <button ion-button (click)="donate()" class="button button-block">
            <i class="icon ion-star"></i>
            <font size="-1">{{"common.donate" | translate}}</font>
        </button>
    </div>
</ion-content>
